<div class="row justify-content-center">
  <div class="col-lg-6">
    <nb-card>
      <!-- <nb-card-header> 
                {{'New Mini Club' | translate}}
            </nb-card-header> -->
      <nb-card-body>
        <form [formGroup]="clubForm" (ngSubmit)="onFormSubmit()">

          <div class="form-group">
            <label class="label mr-4"> {{'Title' | translate}} </label>
            <input nbInput type="text" placeholder="{{'Title' | translate }}"
              [status]="isInvalidControl(clubForm,'title')?'danger':'basic'" formControlName="title">
            <div *ngIf="isInvalidControl(clubForm,'title')">
              <span class="error-text" *ngIf="clubForm.get('title').errors.required">{{'required' | translate}}</span>
            </div>
          </div>

          <div class="form-group">
            <label class="label mr-4">{{'Start Time' | translate}}</label>
            <input nbInput [owlDateTimeTrigger]="dt" [owlDateTime]="dt"
              [status]="isInvalidControl(clubForm,'startDate')?'danger':'basic'" formControlName="startDate">
            <!-- <div *ngIf="isInvalidControl(clubForm,'startDate')">
                            <span class="error-text" *ngIf="clubForm.get('startDate').errors.required">{{'required' | translate}}</span>
                        </div>  -->
            <owl-date-time #dt></owl-date-time>
          </div>
          <div class="form-group">
            <label class="label mr-4">{{'End Time' | translate}}</label>
            <input nbInput [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1"
              [status]="isInvalidControl(clubForm,'endDate')?'danger':'basic'" formControlName="endDate">
            <!-- <div *ngIf="isInvalidControl(clubForm,'endDate')">
                            <span class="error-text" *ngIf="clubForm.get('endDate').errors.required">{{'required' | translate}}</span>
                        </div>  -->
            <owl-date-time #dt1></owl-date-time>
          </div>

          <div class="form-group">
            <label class="label mr-4">{{'Price' | translate}}</label>
            <input nbInput type="number" placeholder="{{'Price' | translate}}"
              [status]="isInvalidControl(clubForm,'price')?'danger':'basic'" formControlName="price"> FCFA
            <div *ngIf="isInvalidControl(clubForm,'price')">
              <span class="error-text" *ngIf="clubForm.get('price').errors.required">{{'required' | translate}}</span>
              <span class="error-text" *ngIf="clubForm.get('price').errors.min">{{'Input Correct Number' |
                translate}}</span>
            </div>
          </div>


          <div class="form-group">
            <label class="label mr-4">{{'Limit' | translate}}</label>
            <input nbInput type="number" placeholder="{{'Limit' | translate}}"
              [status]="isInvalidControl(clubForm,'limit')?'danger':'basic'" formControlName="limit">
            <div *ngIf="isInvalidControl(clubForm,'limit')">
              <span class="error-text" *ngIf="clubForm.get('limit').errors.required">{{'required' | translate}}</span>
              <span class="error-text" *ngIf="clubForm.get('limit').errors.min">{{'Input Correct Number' |
                translate}}</span>
            </div>
          </div>
          <div class="form-group">
            <label class="label"> {{'Comment' | translate}} </label>
            <textarea nbInput rows="5" fullWidth placeholder="{{'comment' | translate}}"
              formControlName="comment"></textarea>
          </div>
          <div class="form-group" *ngIf="edit">
            <div *ngFor="let child of children" class="mr-2" style="display:flex;">
              <nb-user [picture]="child.photo" [name]="child.first_name +' '+ child.last_name"></nb-user>
              <div style="padding-top: 6px;">
                <nb-checkbox style="padding-left:20px;" (checkedChange)="checked($event, child)"
                  [checked]="child.isPaid">{{'Paid' | translate}}</nb-checkbox>
              </div>
            </div>
          </div>
          <input nbInput type="submit" value="Add" style="float: right;">
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>