:host{
    nb-card{
        margin-bottom: 0px;
    }
    nb-card-body{
        button{
            width: 100px;
        }
        padding: 0;
    }
    nb-flip-card {
        margin-bottom: 5px;
        margin-right: 5px;
        width: 100px;
    }
    .small-text{
        position: absolute; 
        top: -1px; 
        left: 2px; 
        font-size:xx-small;
        font-weight: bold;
        color: #0555e0;
    }

}