<nb-card>
    <nb-card-header>
        {{"Notifications" | translate}}
        <button style="float: right;" type="button" nbButton (click)="compose()" ghost> {{'Compose' | translate}} </button>
    </nb-card-header>
    <nb-card-body>
        <nb-list>
            <nb-list-item *ngFor="let noti of notifications">
                <div class="row justify-content-center w-100">
                    <!-- <div class="avatar ml-2">                            
                        <div class="content" [ngStyle]="{'background-image':  'url(' +getSenderPhotoUrl(msg) + ')'}">
                        </div>
                    </div> -->
                    <div class="ml-3" [ngStyle]="!noti.is_read&&{'font-weight':'bolder'}||{'font-weight':'normal'}" (click)="goTo(noti)" style="cursor: pointer;">
                        <div class="text-1">
                           <span>{{noti.module}}</span>
                                
                        </div>                        
                        <!-- <div class="mt-2"> {{msg.subject}} </div> -->
                        <div class="mt-2 text-1" style="  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 300px;">
                            {{noti.notificationMessage}}
                        </div>
                    </div>
                    <div class="ml-auto">
                        <div>
                            {{getFormatDate(noti.created_at)}}                            
                        </div>
                        <button (click)="delete(noti)" nbButton ghost  nbTooltip="Remove Notification">
                            <nb-icon icon="close-outline" ></nb-icon>
                        </button>
                    </div>
                </div>
            </nb-list-item>
        </nb-list>
    </nb-card-body>
</nb-card>
