<nb-select [selected]="documentFor" (selectedChange)="selectChange($event)">
  <nb-option [value]="item.value" *ngFor="let item of selectList">{{item.key}}</nb-option>
</nb-select>
<div *ngIf="documentFor == Classroom">
  <ngx-file-upload [url]="uploadUrl + Classroom + '/'" [storage]="storageClasrrom" [formDataName]="'url'"></ngx-file-upload>
</div>
<div *ngIf="documentFor == All">
  <ngx-file-upload [url]="uploadUrl + All + '/'" [storage]="storageAll" [formDataName]="'url'"></ngx-file-upload>
</div>
