<nb-card>
    <nb-card-header>
        {{"Message Center" | translate}}
        <button style="float: right;" type="button" nbButton (click)="compose()" ghost> {{'Compose' | translate}} </button>
    </nb-card-header>
    <nb-card-body>
        <nb-list>
            <nb-list-item *ngFor="let msg of messages" (click)="goToMessageDetail(msg)">
                <div class="row justify-content-center w-100">
                    <div class="avatar ml-2">                            
                        <div class="content" [ngStyle]="{'background-image':  'url(' +getSenderPhotoUrl(msg) + ')'}">
                        </div>
                    </div>
                    <div class="ml-3" [ngStyle]="!msg.is_read&&{'font-weight':'bolder'}||{'font-weight':'normal'}">
                        <div class="text-1">
                            From: <span >{{getSenderName(msg) }}</span>
                            To:<span >{{getReceiverName(msg) }}</span>
                                
                        </div>                        
                        <div class="mt-2"> {{msg.subject}} </div>
                        <div class="mt-2 text-1" style="  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 300px;">
                            {{msg.content}}
                        </div>
                    </div>
                    <div class="ml-auto">
                        <div>
                            {{getFormatDate(msg.created_at)}}                            
                        </div>
                    </div>
                </div>
            </nb-list-item>
        </nb-list>
    </nb-card-body>
</nb-card>