
<nb-layout>
    <nb-layout-column>
        <nb-card>
        <nb-card-header>
            <nav class="navigation">
            <a href="#" (click)="back()" class="link" aria-label="Back">
                <!-- <i class="icon nb-arrow-thin-left"></i> -->
                <nb-icon icon="arrow-back"></nb-icon>
            </a>
            </nav>
        </nb-card-header>
        <nb-card-body>
            <nb-auth-block>
            <router-outlet></router-outlet>
            </nb-auth-block>
        </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>