.img-content{
    width: 100%;
    position: relative;
    padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;                
    border-radius: 5px;
    box-shadow:0 0 5px 0.5px rgba(255, 255, 255, 1)
}
.item{
    cursor: pointer;
}