
    <nb-tabset fullWidth>  

      <nb-tab tabTitle="Teachers">
        <nb-card>
          <nb-card-header>
            <button style="float: right;" type="button" nbButton (click)="newTeacher('Teacher')" ghost> {{'New' | translate}} </button>
          </nb-card-header>
            <nb-card-body>
              <div class="search-box mb-2">
                <div style="display: flex; justify-content:flex-end;">
                  <input [(ngModel)]="searchWord" type="text" nbInput placeholder="{{'Search by name'| translate}}" (ngModelChange)="onSearchWordChange($event)"/>
                  <button type="button" nbButton status="primary"><nb-icon class="action-icon" icon="search-outline"></nb-icon></button>
                </div>
              </div>
                <ng2-smart-table [settings]="settings" [source]="teacher_src">
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>         
      </nb-tab>

      <nb-tab tabTitle="Admins">
        <nb-card>
          <nb-card-header>
            <button style="float: right;" type="button" nbButton (click)="newTeacher('Admin')" ghost> {{'New' | translate}} </button>
          </nb-card-header>
            <nb-card-body>
              <div class="search-box mb-2">
                <div style="display: flex; justify-content:flex-end;">
                  <input [(ngModel)]="searchWord" type="text" nbInput placeholder="{{'Search by name'| translate}}" (ngModelChange)="onSearchWordChange($event)"/>
                  <button type="button" nbButton status="primary"><nb-icon class="action-icon" icon="search-outline"></nb-icon></button>
                </div>
              </div>
                <ng2-smart-table [settings]="settings" [source]="admin_src">
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>         
      </nb-tab>

      <!-- <nb-tab tabTitle="Assistants">
        <nb-card>
          <nb-card-header>
            <button style="float: right;" type="button" nbButton (click)="newTeacher()" ghost> {{'New' | translate}} </button>
          </nb-card-header>
            <nb-card-body>
              <div class="search-box mb-2">
                <div style="display: flex; justify-content:flex-end;">
                  <input [(ngModel)]="searchWord" type="text" nbInput placeholder="{{'Search by name'| translate}}" (ngModelChange)="onSearchWordChange($event)"/>
                  <button type="button" nbButton status="primary"><nb-icon class="action-icon" icon="search-outline"></nb-icon></button>
                </div>
              </div>
                <ng2-smart-table [settings]="settings" [source]="teacher_src">
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>         
      </nb-tab>

      <nb-tab tabTitle="Personnels">
        <nb-card>
          <nb-card-header>
            <button style="float: right;" type="button" nbButton (click)="newTeacher()" ghost> {{'New' | translate}} </button>
          </nb-card-header>
            <nb-card-body>
              <div class="search-box mb-2">
                <div style="display: flex; justify-content:flex-end;">
                  <input [(ngModel)]="searchWord" type="text" nbInput placeholder="{{'Search by name'| translate}}" (ngModelChange)="onSearchWordChange($event)"/>
                  <button type="button" nbButton status="primary"><nb-icon class="action-icon" icon="search-outline"></nb-icon></button>
                </div>
              </div>
                <ng2-smart-table [settings]="settings" [source]="teacher_src">
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>         
      </nb-tab> -->
  
      <!-- <nb-tab tabTitle="Parents">
        <nb-card>
            <nb-card-body>
                <ng2-smart-table [settings]="settings" [source]="parent_src">
                </ng2-smart-table>
            </nb-card-body>
        </nb-card> 
        
      </nb-tab>   -->
    </nb-tabset>
    