<nb-card-header>
    <button style="float: right;" type="button" nbButton (click)="newAppointment()" ghost> {{'New Appointment' | translate}} </button>
    <button style="float: right;" type="button" nbButton (click)="newPreset()" ghost> {{'New Pre-set Appointment' | translate}} </button>
</nb-card-header>
<nb-tabset fullWidth>
    <nb-tab tabTitle="{{'Teachers' | translate}}">
        <nb-card>
            <nb-card-body>
                <ngx-user-list [data]="this.teachers" (onselect)="onTeacherSelect($event)"></ngx-user-list>
            </nb-card-body>
        </nb-card>         
    </nb-tab>

    <nb-tab tabTitle="{{'Children' | translate}}">
        <nb-card>
            <nb-card-body>
                <ngx-child-list [data]="this.children" (onselect)="onChildSelect($event)"></ngx-child-list>
            </nb-card-body>
        </nb-card> 
        
    </nb-tab>  
    </nb-tabset>
      