<nb-card>
    <nb-card-header>
      <button nbTooltip="{{'Back' | translate}}"  nbButton ghost (click)="back()"> <nb-icon icon="arrow-back-outline"  style="color: black;">arrow-back-outline</nb-icon> </button>
      {{title | translate}}
      <!-- <div class="d-flex align-items-center">

        {{title | translate}}
      </div> -->
      
    </nb-card-header>
    <nb-card-body *ngIf="isClosed()">
      <h5 class="text-center"> {{'There is not available Preset ' | translate}}</h5>
    </nb-card-body>
    <nb-card-body *ngIf="!isClosed()">
      
      <div class="form-group row align-items-center">
          <label class="label col-sm-3"> {{'Classroom' | translate}}</label>
          <div class="col-sm-9">
            <nb-select [(ngModel)]="selectedClassroom">
              <nb-option *ngFor="let item of classNameList;" [value]="item"> {{item.name |translate |titlecase}} </nb-option>
            </nb-select>
          </div>
      </div>      
      <div class="form-group row align-items-center">
        <label class="label col-sm-3"> {{'Date' | translate}} </label>
        <div class="col-sm-9">
          <input  nbInput [owlDateTimeTrigger]="dt" [owlDateTime]="dt" >
          <!-- [status]="isInvalidControl(appointmentForm,'start')?'danger':'basic'" formControlName="start"
            <div *ngIf="isInvalidControl(appointmentForm,'start')">
              <span class="error-text" *ngIf="appointmentForm.get('start').errors.required">{{'required' | translate}}</span>
          </div>  -->
          <owl-date-time #dt></owl-date-time>              
        </div> 

      </div>
      <div class="form-group row align-items-center">
        <label class="label col-sm-3"> {{'Child' | translate}}</label>
        <div class="col-sm-9">
            <ngx-child-select [childs]="childs" title="{{'Select Child'| translate}}" [(ngModel)]="selectedChild" (ngModelChange)="onChildChange($event)" [disabled]="isEditmode"></ngx-child-select>
        </div>
      </div>
      <div class="form-group row align-items-center">
        <label class="label col-sm-3"> {{'Subject' | translate}}</label>
        <div class="col-sm-9">
          <input nbInput type="text"  formControlName="subject">
          <!-- <div *ngIf="isInvalidControl(appointmentForm,'title')">
              <span class="error-text" *ngIf="appointmentForm.get('title').errors.required">{{'required' | translate}}</span>
          </div>   -->
        </div>
      </div>
    <!-- <div class="d-flex flex-wrap align-items-center mt-4">
        <ng-container *ngFor="let slot of slots;">
          <ngx-preset-slot-item [start]="slot.start" [end]="slot.end" [confirmed]="slot.booked" (confirmClick)="onConfirm($event)" [isCurrentChild]="isSameChild(slot.child, selectedChild)" ></ngx-preset-slot-item>    
        </ng-container>            
    </div> -->
    </nb-card-body>
    <nb-card-footer>
      <button style="float: right;" type="button"  nbTooltip="{{'Update the details' | translate}}"  nbButton ghost> {{'Send' | translate}} </button>
  </nb-card-footer>
</nb-card>

