<div class="row justify-content-center">
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <button nbTooltip="{{'Back' | translate}}" nbButton ghost (click)="back()">
                            <nb-icon icon="arrow-back-outline" style="color: black;">arrow-back-outline</nb-icon>
                        </button>
                        {{"New Child" | translate}}
                    </div>

                </div>
            </nb-card-header>
            <nb-card-body>
                <form [formGroup]="childForm" (ngSubmit)="onSubmit()">
                    <div class="form-group row justify-content-center">
                        <div class="col-sm-4 avatar">
                            <div class="content" [ngStyle]="{'background-image':  'url(' + photo + ')'}">
                            </div>
                            <div class="select-file">
                                <div style="position: relative; height: 100%;">
                                    <nb-icon icon="edit-outline" style="color: black;">arrow-back-outline</nb-icon>
                                    <input type="file" class="file-input" accept="image/*"
                                        (change)="changeListener($event)">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="label"> {{'First Name' | translate}}</label>
                                <input nbInput type="text" placeholder="{{'First Name'|translate}}" fullWidth
                                    [status]="isInvalidControl(childForm,'first_name')?'danger':'basic'"
                                    formControlName="first_name">
                                <div *ngIf="isInvalidControl(childForm,'first_name')">
                                    <span class="error-text"
                                        *ngIf="childForm.get('first_name').errors.required">{{'required' |
                                        translate}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="label">{{'Last Name' | translate}}</label>
                                <input nbInput type="text" placeholder="{{'Last Name' | translate}}" fullWidth
                                    [status]="isInvalidControl(childForm,'last_name')?'danger':'basic'"
                                    formControlName="last_name">
                                <div *ngIf="isInvalidControl(childForm,'last_name')">
                                    <span class="error-text"
                                        *ngIf="childForm.get('last_name').errors.required">{{'required' |
                                        translate}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="label"> {{'Date of Birth' | translate}}</label>
                                <input fullWidth nbInput [owlDateTimeTrigger]="dt" [owlDateTime]="dt"
                                    [status]="isInvalidControl(childForm,'birth')?'danger':'basic'"
                                    formControlName="birth" placeholder="dd/mm/yyyy">
                                <!-- <input type="text" [owlDateTimeTrigger]="dt" placeholder="dd/mm/yyyy" [value]="birth | dateFilter:dateFormat" > -->
                                <div *ngIf="isInvalidControl(childForm,'birth')">
                                    <span class="error-text" *ngIf="childForm.get('birth').errors.required">{{'required'
                                        | translate}}</span>
                                </div>
                                <owl-date-time #dt [pickerType]="'calendar'"></owl-date-time>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="label">{{'Gender' | translate}} </label>
                                <nb-select fullWidth formControlName="gender"
                                    [status]="isInvalidControl(childForm,'gender')?'danger':'basic'">
                                    <nb-option value="Male"> {{'Male' |translate |titlecase}} </nb-option>
                                    <nb-option value="Female"> {{'Female' |translate |titlecase}} </nb-option>
                                </nb-select>
                                <div *ngIf="isInvalidControl(childForm,'gender')">
                                    <span class="error-text"
                                        *ngIf="childForm.get('gender').errors.required">{{'required' |
                                        translate}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="label"> {{'Nationality' | translate}}</label>
                                <!--multiple-->
                                <nb-select fullWidth multiple formControlName="nationality"
                                    placeholder="Select Nationality"
                                    [status]="isInvalidControl(childForm,'nationality')?'danger':'basic'">
                                    <nb-option *ngFor="let item of nationalities;" [value]="item"> {{item.name
                                        |translate |titlecase}} </nb-option>
                                    <nb-option (click)="addNewNationaliy()">Add New</nb-option>
                                    <!-- <nb-option value="civ">Cote d'ivoire</nb-option>
                                    <nb-option value="usa">United States of America</nb-option>
                                    <nb-option value="gbr">United Kingdom</nb-option>
                                    <nb-option value="fra">France</nb-option> -->
                                </nb-select>
                                <div *ngIf="isInvalidControl(childForm,'nationality')">
                                    <span class="error-text"
                                        *ngIf="childForm.get('nationality').errors.required">{{'required' |
                                        translate}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="label"> {{'Name of Class' | translate}}</label>
                                <nb-select fullWidth formControlName="nameOfClass" placeholder="Select Classname">
                                    <nb-option *ngFor="let item of classNameList;" [value]="item"> {{item.name
                                        |translate |titlecase}} </nb-option>
                                </nb-select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="label mr-4">{{'Address' | translate}}</label>
                                <input nbInput fullWidth type="text"
                                    [status]="isInvalidControl(childForm,'address')?'danger':'basic'"
                                    formControlName="address"
                                    placeholder="{{'3th Capital Street, karachi, Pakistan' | translate}}">
                                <div *ngIf="isInvalidControl(childForm,'address')">
                                    <span class="error-text"
                                        *ngIf="childForm.get('address').errors.required">{{'required' |
                                        translate}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="label"> {{'Mother’s first name' | translate}}</label>
                                <input nbInput fullWidth type="text"
                                    [status]="isInvalidControl(childForm,'firstNameOfMother')?'danger':'basic'"
                                    formControlName="firstNameOfMother"
                                    placeholder="{{'Mother’s first name' | translate}}">
                                <div *ngIf="isInvalidControl(childForm,'firstNameOfMother')">
                                    <span class="error-text"
                                        *ngIf="childForm.get('firstNameOfMother').errors.required">{{'required' |
                                        translate}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="label">{{'Mother’s last name' | translate}}</label>
                                <input nbInput fullWidth type="text"
                                    [status]="isInvalidControl(childForm,'lastNameOfMother')?'danger':'basic'"
                                    formControlName="lastNameOfMother"
                                    placeholder="{{'Mother’s last name' | translate}}">
                                <div *ngIf="isInvalidControl(childForm,'lastNameOfMother')">
                                    <span class="error-text"
                                        *ngIf="childForm.get('lastNameOfMother').errors.required">{{'required' |
                                        translate}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="label"> {{'Mother’s phone number' | translate}}</label>
                                <input nbInput fullWidth
                                    [status]="isInvalidControl(childForm, 'phoneOfMother')?'danger':'basic'" type="text"
                                    formControlName="phoneOfMother" placeholder="000-000">
                                <div *ngIf="isInvalidControl(childForm,'phoneOfMother')">
                                    <span class="error-text"
                                        *ngIf="childForm.get('phoneOfMother').errors.required">{{'required' |
                                        translate}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="label">{{'Mother’s email' | translate}}</label>
                                <input nbInput fullWidth
                                    [status]="isInvalidControl(childForm, 'emailOfMother')?'danger':'basic'"
                                    type="email" formControlName="emailOfMother"
                                    placeholder="{{'Mother’s email' | translate}}">
                                <div *ngIf="isInvalidControl(childForm,'emailOfMother')">
                                    <span class="error-text"
                                        *ngIf="childForm.get('emailOfMother').errors.required">{{'required' |
                                        translate}}</span>
                                    <span class="error-text"
                                        *ngIf="childForm.get('emailOfMother').errors.email">{{'Incorrect Email Address'
                                        | translate}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="label"> {{'Father’s first name' | translate}}</label>
                                <input nbInput fullWidth
                                    [status]="isInvalidControl(childForm, 'firstNameOfFather')?'danger':'basic'"
                                    type="text" formControlName="firstNameOfFather"
                                    placeholder="{{'Father’s first name' | translate}}">
                                <div *ngIf="isInvalidControl(childForm,'firstNameOfFather')">
                                    <span class="error-text"
                                        *ngIf="childForm.get('firstNameOfFather').errors.required">{{'required' |
                                        translate}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="label">{{'Father’s last name' | translate}}</label>
                                <input nbInput fullWidth
                                    [status]="isInvalidControl(childForm, 'lastNameOfFather')?'danger':'basic'"
                                    type="text" formControlName="lastNameOfFather"
                                    placeholder="{{'Father’s last name' | translate}}">
                                <div *ngIf="isInvalidControl(childForm,'lastNameOfFather')">
                                    <span class="error-text"
                                        *ngIf="childForm.get('lastNameOfFather').errors.required">{{'required' |
                                        translate}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="label"> {{'Father’s phone number' | translate}}</label>
                                <input nbInput fullWidth
                                    [status]="isInvalidControl(childForm, 'phoneOfFather')?'danger':'basic'" type="tel"
                                    formControlName="phoneOfFather" placeholder="000-000">
                                <div *ngIf="isInvalidControl(childForm,'phoneOfFather')">
                                    <span class="error-text"
                                        *ngIf="childForm.get('phoneOfFather').errors.required">{{'required' |
                                        translate}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="label">{{'Father’s email' | translate}}</label>
                                <input nbInput fullWidth
                                    [status]="isInvalidControl(childForm, 'emailOfFather')?'danger':'basic'"
                                    type="email" formControlName="emailOfFather"
                                    placeholder="{{'Father’s email' | translate}}">
                                <div *ngIf="isInvalidControl(childForm,'emailOfFather')">
                                    <span class="error-text"
                                        *ngIf="childForm.get('emailOfFather').errors.required">{{'required' |
                                        translate}}</span>
                                    <span class="error-text"
                                        *ngIf="childForm.get('emailOfFather').errors.email">{{'Incorrect Email Address'
                                        | translate}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h6>{{'Image Rights' | translate}}</h6>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <nb-checkbox class="mr-2" (checkedChange)="privacyCheck($event, item)"
                                *ngFor="let item of privacy">{{item|translate}}</nb-checkbox>
                        </div>
                    </div>
                    <h6>{{'Other Options' | translate}}</h6>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <nb-checkbox class="mr-2" (checkedChange)="othersCheck($event, item)"
                                *ngFor="let item of others">{{item|translate}}</nb-checkbox>
                        </div>
                    </div>

                    <!-- [disabled]="isSubmitting" -->
                    <input nbInput type="submit" value="{{'Submit' |  translate}}" style="float: right;">
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>