.avatar{
    width: 50px;
    height: 50px;

    .content{
        width: 100%;
        position: relative;
        padding-top: 100%;
        background-size: cover;
        background-repeat: no-repeat;                
        border-radius: 50%;
        box-shadow:0 0 5px 0.5px rgba(255, 255, 255, 1)
    }
}
nb-list-item{
    .text-1 {
        font-size: small;
        color: gray;    
    }
    .date-text{
        font-size: medium;
    }
}
.attached-content{
    flex-wrap: wrap;
    .attached-img{        
        max-height: 70px;
        border-radius: 5px;
        border:1px solid #8f9bb3
    }
}