<div class="header-container">
  <div class="logo-container">
    <a
      href="#"
      class="sidebar-toggle"
      matRipple
      [matRippleUnbounded]="true"
      [matRippleCentered]="true"
      (click)="toggleSidebar()"
    >
      <nb-icon [icon]="(materialTheme$ | async) ? 'menu-outline' : 'menu-2-outline'"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">{{title | translate}}</a>
  </div>
</div>

<div class="header-container">
  <!-- <h6 style="cursor: pointer;"> {{ currentClassName | translate}} </h6> -->
  <!-- <nb-action class="sss">
    <nb-select placeholder="Select class name" (selectedChange)="selectClass($event)"  ([ngModel])="currentClassName">
      <nb-option *ngFor="let class of classes"  [value]="class">{{class.name | translate}}</nb-option>
    </nb-select>
  </nb-action> -->
  <nb-actions size="small">
    <nb-action class="sss" >
      <div>
        <ngx-flag-picker
        [selectedCountryCode]="selectedCountryCode"
        [showLabels] = "false"
        [countryCodes]="countryCodes"
        (changedCountryCode)="changeSelectedCountryCode($event)">
      </ngx-flag-picker>
      </div>
      
    </nb-action>
    
    <nb-action class="sss" icon="bell-outline" badgeText="{{notificationLength}}"
    badgePosition="top right"
    badgeStatus="info" (click)="onNotification()"></nb-action>
    <nb-action class="user-action">
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               nbContextMenuTag="my-profile-tag"
               nbContextMenuTrigger="hover"
               [name]="user?.first_name +' '+ user?.last_name"
               [picture]="user?.picture">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
