<div class="row justify-content-center">
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <!-- <button nbTooltip="{{'Back' | translate}}"  nbButton ghost (click)="back()"> <nb-icon icon="arrow-back-outline"  style="color: black;">arrow-back-outline</nb-icon> </button> -->
                        {{"New Class" | translate}}
                    </div>
                    
                </div>
            </nb-card-header>
            <nb-card-body>
                <form [formGroup]="classForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label class="label mr-4"> {{'Class Name' | translate}} </label>
                        <input nbInput type="text" placeholder="{{'Class Name' | translate }}" [status]="isInvalidControl(classForm,'className')?'danger':'basic'" formControlName="className">
                        <div *ngIf="isInvalidControl(classForm,'className')">
                            <span class="error-text" *ngIf="classForm.get('className').errors.required">{{'required' | translate}}</span>
                        </div>
                    </div>                  
  
                    <div class="form-group">
                        <label class="label"> {{'Comment' | translate}} </label>
                        <textarea nbInput rows="5" fullWidth placeholder="{{'comment' | translate}}" formControlName="comment"></textarea>
                    </div>
                    <input nbInput type="submit" value="Add" style="float: right;">
                </form>
            </nb-card-body>
        </nb-card>        
    </div>
</div>
