<div class="row">
  <!-- <div class="col-lg-12">
    <nb-card>
      <nb-card-header>        
        <div class="row" style="justify-content: space-between;">
          <span class="col-sm-2">
            Pie ({{students.length}})
          </span>
          
          <nb-select status="primary" size="small" fullWidth="true" class="col-sm-3" (selectedChange) = "onSelectChange($event)" [selected]="dashboardItems[0].key">
            <nb-option *ngFor="let item of dashboardItems" [value]="item.key">{{item.value}}</nb-option>
          </nb-select>  
        </div>        
      </nb-card-header>
      <nb-card-body>
        <ngx-echarts-pie [students]="students" [seriesData]="seriesData" [seriesName]="seriesName"></ngx-echarts-pie>
      </nb-card-body>
    </nb-card>
  </div> -->

  <!-- <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Bar ({{students.length}})</nb-card-header>
      <nb-card-body>
        <ngx-echarts-bar [students]="students"></ngx-echarts-bar>
      </nb-card-body>
    </nb-card>
  </div> -->

</div>