<div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="onPrevious()"
        >
          {{'Previous' | translate}}
        </div>
        <div
          class="btn btn-outline-secondary" (click)="onToday()"
        >
          {{'Today' | translate}}
        </div>
        <div
          class="btn btn-primary"
          (click)="onNext()"
        >
          {{'Next' | translate}}
        </div>
      </div>
    </div>
    
    <div class="col-md-4">

      <h3 >{{ selectedDateString }}</h3>
      <div style="position: relative;">
        <input  [owlDateTime]="dt1"  style="opacity: 0; z-index: -1;"  [(ngModel)]="selectedDate" (dateTimeChange)="dateTimeChange()">
        <span [owlDateTimeTrigger]="dt1" class="trigger" style="position: absolute; margin-left: -93px; cursor: pointer;" >
          <i class="fas fa-calendar-alt"></i>
        </span>
        <owl-date-time #dt1 pickerType="calendar"></owl-date-time>
      </div>
    </div>    
    <div class="col-md-4 text-left ">
        <div class="row justify-content-center">
            <div class="d-flex text-left" style="flex-direction:column;width: 96px;">
                <nb-checkbox value="true" (valueChange)="onCheckBoxChange('confirm')">{{'Confirmed' | translate}}</nb-checkbox>
                <nb-checkbox value="true" (valueChange)="onCheckBoxChange('decline')">{{'Declined' | translate}}</nb-checkbox>
                <nb-checkbox value="true" (valueChange)="onCheckBoxChange('pending')">{{'Pending' | translate}}</nb-checkbox>
            </div>
        </div>
    </div>
    
  </div>
  <br />
  <div class="row justify-content-center" *ngIf="filteredapnts?.length > 0">
   
        <ng-container  *ngFor="let apnt of filteredapnts; ">
            <div class="col-md-6">
                <nb-card>
                    <nb-card-header style="position: relative;">
                        <div class="row justify-content-between align-items-center">
                            <div class="text-hint">
                                {{get_time_text(apnt)}}                        
                            </div>
                            <div class="">
                              {{ get_date_text(apnt) }}
                            </div>
                            <div *ngIf="isConfirmed(apnt);">
                                <nb-badge text="Confirmed" position="top right" status="info"></nb-badge>
                            </div>
                            <div *ngIf="isDeclined(apnt);">
                                <nb-badge text="Declined" position="top right" status="danger"></nb-badge>
                            </div>
                            <div *ngIf="isAvailable(apnt)">
                                <div>
                                    <button nbButton outline size="small" (click)="onConfirmBtnClick(apnt)" > {{'Confirm' | translate}} </button>
                                </div>
                            </div>
                        </div>
                        
                    </nb-card-header>
                    <nb-card-body>
                        <h6 class="text-center" *ngIf="!isPreset(apnt)">{{apnt.title}}</h6>
                        <h6 class="text-center" *ngIf="isPreset(apnt)"> {{'PRESET' | translate}} </h6>
                        <div class="row justify-content-around">
                            <nb-user [picture]="apnt.parent.picture" [name]="apnt.parent.first_name + ' ' + apnt.parent.last_name" title="{{'Parent' | translate}}"></nb-user>
                            <nb-user [picture]="apnt.child.photo" [name]="apnt.child.first_name + ' ' + apnt.child.last_name" title="{{'Desire Child' | translate}}"></nb-user>
                        </div>
                        
                    </nb-card-body>
                </nb-card>
            </div>
            
        </ng-container>
  </div>
  <ng-container *ngIf="!filteredapnts || filteredapnts?.length == 0">
    <h5 class="text-center"> {{'There is not any appointments' | translate}} !</h5>
  </ng-container>