<nb-card>
    <nb-card-header>
        <div class="d-flex align-items-center justify-content-between">
            {{"Exchange Library" | translate}}
            <button nbTooltip="{{'New Book'| translate}}"  nbButton status="info"  (click)="newExchangeLibraryClick()"> {{'New Book' | translate}} </button>        
        </div>
        
    </nb-card-header>
    <nb-card-body>
        <div class="search-box mb-2">
            <div style="display: flex; justify-content:flex-end;">
              <input [(ngModel)]="searchWord" type="text" nbInput placeholder="{{'Search by name'| translate}}" (ngModelChange)="onSearchWordChange($event)"/>
              <button type="button" nbButton status="primary"><nb-icon class="action-icon" icon="search-outline"></nb-icon></button>
            </div>
        </div>
        <nb-list>
            <nb-list-item *ngFor="let book of filteredbooks" style="position: relative;">
                
                <div class="ml-3 mt-2 w-100"  >
                    <div class="d-flex flex-wrap align-items-center">
                        <div class="text-1 ml-2">
                            
                            <div class="date-text">
                                <span class="text-primary">{{book.code}}</span>
                            </div>
                        </div>
                        <div class="avatar ml-2">                            
                            <div class="content" [ngStyle]="{'background-image':  'url(' +book.picture + ')'}" (click)="selectBook(book)">
                            </div>
                        </div>
                        <div class="text-1 ml-2">
                            
                            <div class="date-text">
                                {{'Book Name' | translate}}: <span class="text-primary">{{book.title}}</span>
                            </div>
                        </div>
                        <div class="ml-auto" >
                            <button nbButton ghost (click)="onDeleteClick(book)"> {{'DELETE' | translate}}</button>
                            <nb-badge text="Booked" status="danger" position="top left" *ngIf="isBooked(book)"></nb-badge>
                        </div>
                    </div>
                    
                    <div class="mt-2 text-1"> {{book.comment}}  </div>
                    <div class="d-flex mt-2 flex-wrap align-items-center " *ngIf="isBooked(book)">
                        <div class="text-1 date-text mr-4"> {{'Child' | translate}} </div>
                        <!-- <nb-user [picture]="book.child.picture" [name]="book.child.first_name +' '+ book.child.last_name"></nb-user> -->
                    </div>
                </div>

            </nb-list-item>
        </nb-list>
    </nb-card-body>
</nb-card>